{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/teachers/teacher-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Our Teachers</h1>
</section>

<section class="card-container">
  {% for teacher in teachers %}
    <div class="card">
      <a href ="/teachers/{{teacher.id}}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{% static '/images/person.png' %}"
            alt="person"
          />
        </div>
        <h2 class="card-title">{{ teacher.name }}</h2>
        {% if teacher.age > 0 %}
        <p>A {{ teacher.age }} year old {{ teacher.breed }}</p>
        {% else %}
        <p>A {{ teacher.subject }} teacher.</p>
        {% endif %}
        <p><small>{{ teacher.description }}</small></p>
      </div>
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
