{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/Blue_and_White_Circle_Surfing_Club_Logo-removebg-preview.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'images/fixed-removebg-preview (2).png' %}" alt="School Logo">
                <h3>People's DayCare And Elementary School</h3>
            </div>
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">About Us</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'mission-statement' %}">Mission Statement</a></li>
                        <li><a href="{% url 'belief' %}">Our Belief</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">ACADEMICS</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'academic-policy' %}">Academic Policy</a></li>
                        <li><a href="{% url 'tution' %}">Tuition</a></li>
                        <li><a href="{% url 'dayCare' %}">DayCare</a></li>
                        <li><a href="{% url 'academics' %}">Academics</a></li>
                        <li><a href="{% url 'conduct' %}">Student Conduct/Discipline</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Parents/Guardians</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'mission-statement' %}">Mission Statement</a></li>
                        <li><a href="{% url 'mission-statement' %}">Our Belief</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{% url 'teacher-index' %}" class="dropbtn">Staff Directory</a>
                    <ul class="dropdown-content">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'teacher-create' %}">Add Staff</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                <li>
                    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <script src="{% static 'javascript/navigation.js' %}"></script>
</body>
</html>
