{% extends 'base.html' %}
{% load static %} <!-- Load static files to access CSS files -->

{% block content %}
<link rel="stylesheet" href="{% static 'css/spg/trips.css' %}" />

<!-- Main header for the page -->
<h1><strong>Legal, Custody, and Restraining Issues</strong></h1>

<div class="content">
    <p>
        Unless we have appropriate legal documentation on file, we are compelled to give full parental rights to all parents. If there are custody documents or restraining orders that affect your child, please provide the school with a copy.
        Library Center
    </p>
</div>

{% endblock %}
