{% extends 'base.html' %}
{% load static %} <!-- Load static files to access CSS files -->

{% block content %}
<link rel="stylesheet" href="{% static 'css/spg/trips.css' %}" />

<!-- Main header for the page -->
<h1><strong>  School Cancellation </strong></h1>

<div class="content">
    <p>
        Schools will operate normally during bad weather. If it is considered to be too dangerous for pupils to come to school, we will follow Board of Education guidelines in respect to school closures or delayed start for the day.
    </p>
</div>
<h1><strong>  Visitors to the School</strong></h1>

<div class="content">
    <p>
        We welcome visitors to our school, but that hospitality is balanced against a need to protect the safety of our children and respect for the importance of instructional time in the classroom. All visitors are asked to sign in at the office and wear an identifying nametag before entering any other part of the school. If a visitor needs to speak with a teacher, an appointment can be made for a meeting during non-instructional time.
    </p>
    <div class="content">
        <p>
            Lunches, books, musical instruments, party treats and other items to be delivered to your child should be given to the office staff. Please write your child's name, grade, and teacher's name clearly on the package. The office staff will see to it that the item is delivered for you.
        </p>
</div>
<h1><strong>  Volunteers </strong></h1>

<div class="content">
    <p>
        If your schedule allows, we encourage you to volunteer your time in moving the institution forward. We will be sending home additional information on the various opportunities for voluntary involvement. We encourage you to make time available to be involved in your child's education.
    </p>
</div>

{% endblock %}
