{% extends 'base.html' %} 
{% load static %} <!-- Add this line to load the static tag library -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/about/statement.css' %}"/>
<h1>MISSION STATEMENT</h1>
<hr />
<p class="page-content">
People's DayCare Elementary School also know as Julia Nicholson Leadership Academy in collaboration with parents provides
students with a safe and nurturing learning environment, enhanced by
hands-on experiences and exposure to the ever changing world. The
academy is endowed with possibilities that encourage and inspire each
student to achieve academic excellence, high moral standards and sound social skills that develop him or her into a unique individual, a leader and a
contributing member of the 21s* century.
</p>
{% endblock %}
